@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ActiveTab = "Kawa";
}

<div class="main-wrapper">
    <div class="sidebar">
        <ul class="list-group">
            <a href="/ZamowieniaView/Kiosk" class="list-group-item @(ViewBag.ActiveTab == "Kawa" ? "active" : "")">Kawa</a>
            <a href="/ZamowieniaView/Kiosk2" class="list-group-item @(ViewBag.ActiveTab == "Herbata" ? "active" : "")">Herbata</a>
            <a href="/ZamowieniaView/Kiosk3" class="list-group-item @(ViewBag.ActiveTab == "Ciasta" ? "active" : "")">Ciasta</a>
        </ul>
    </div>
    
    <div class="content-area">
        <div class="row mt-4">
            <div class="col-md-4">
                <div class="card mb-4">
                    <!-- tu konkretny bloczek-->
                    <div class="card-body">
                        <h5 class="card-title">Cappuccino</h5>
                        <p class="card-text">Pyszna kawa z mlekiem</p>
                        <div class="d-flex justify-content-between align-items-center mt-3">
                            <span class="price text-dark fw-bold">8,00 zł</span>
                            <button class="btn btn-primary btn-add" onclick="openModal('Cappuccino')">Dodaj</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


@Html.Partial("_Modal")

@section scripts {
    <script>
        let currentQuantity = 1;

        function openModal(productName) {
            currentQuantity = 1;
            document.getElementById('productName').innerText = productName;
            document.getElementById('quantityDisplay').innerText = currentQuantity;
            $('#addModal').modal('show');
        }

        function changeQuantity(change) {
            currentQuantity += change;
            if (currentQuantity < 1) currentQuantity = 1;
            document.getElementById('quantityDisplay').innerText = currentQuantity;
        }
    </script>
}
