@model apka.Models.Produkt

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Produkt</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nazwa" class="control-label"></label>
                <input asp-for="Nazwa" class="form-control" />
                <span asp-validation-for="Nazwa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Opis" class="control-label"></label>
                <input asp-for="Opis" class="form-control" />
                <span asp-validation-for="Opis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdKategoria" class="control-label"></label>
                <input asp-for="IdKategoria" class="form-control" />
                <span asp-validation-for="IdKategoria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdPoziom" class="control-label"></label>
                <input asp-for="IdPoziom" class="form-control" />
                <span asp-validation-for="IdPoziom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdAutor" class="control-label"></label>
                <input asp-for="IdAutor" class="form-control" />
                <span asp-validation-for="IdAutor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdSkladnik" class="control-label"></label>
                <input asp-for="IdSkladnik" class="form-control" />
                <span asp-validation-for="IdSkladnik" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
